<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>There is not this link</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-centered centered_block">
                <div>
                    <p>{{url}}</p>
                    <span>We don`t have this link in database</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>